 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Manager Field</title>
    <link rel="stylesheet" href=" https://bootswatch.com/4/lux/bootstrap.min.css">

   
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Field Service Manager</a>
</nav>